/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --button-text-color: #ff0070;
  --button-border-color: #ff0070;
  --button-border-hover-color: rgba(255, 0, 112, 0.4); 
  --button-border-focus-color: #ff0070;
  --link-shadow-color: #ff0070;
  --link-shadow-color: #ff0070;
  --link-border-hover: #f1b2ce;
  --link-border-focus: #f1b2ce;
  --decorate-item: #ff0070;
  --bg-color: #000028;
  --text-color-primary: #f1b2ce;
  --text-color-secondary: #000028;
  --title-color: #db00ff;
}