:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --button-text-color: #353430;
  --button-border-color: #353430;
  --button-border-hover-color: rgba(50, 49, 45, 0.4);
  --button-border-focus-color: #353430;
  --link-shadow-color: #ff8dcb;
  --link-border-hover: #353430;
  --link-border-focus: #353430;
  --decorate-item-color: #353430;
  --bg-color: #fff1f7;
  --text-color-special: #353430;
  --text-color-primary: #353430;
  --text-color-secondary: #353430;
  --title-color: #ffc2e6;

  .text-decor {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --button-text-color: #353430;
    --button-border-color: #353430;
    --button-border-hover-color: rgba(50, 49, 45, 0.4);
    --button-border-focus-color: #353430;
    --link-shadow-color: #ff8dcb;
    --link-border-hover: #353430;
    --link-border-focus: #353430;
    --decorate-item-color: #353430;
    --bg-color: #fff1f7;
    --text-color-special: #353430;
    --text-color-primary: #353430;
    --text-color-secondary: #353430;
    --title-color: #ffc2e6;
  }

    .text-decor {
    display: none;
  }
}
