/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--main-font, sans-serif);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color, #000028);
  padding: var(--padding);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  min-height: 100vh;
  min-block-size: 648px;
}

@media (width >= 768px) {
  .header {
    min-block-size: 984px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 728px;
  }
}

.header__theme-menu {
  margin-block-start: 63px;
  justify-self: end;
}

@media (width >= 768px) {
  .header__theme-menu {
    margin-block-start: 172px;
  }
}

.header__theme-menu-list {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }
}

.header__theme-menu-item {
  width: 70px;
  height: 26px;
  font-family: inherit;
  color: var(--button-text-color, #ff0070);
  font-size: var(--main-text-size);
  font-weight: var(--regular-font-weight);
  line-height: 18px;
  background-color: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button {
  border: none;
  width: 70px;
  height: 26px;
  font-family: inherit;
  color: var(--button-text-color, #ff0070);
  font-size: var(--main-text-size);
  font-weight: var(--regular-font-weight);
  line-height: 18px;
  background-color: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-border-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-border-hover-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-border-focus-color, #ff0070);
}

.text-decor {
  position: absolute;
  top: 0;
  right: 9px;
  font-family: inherit;
  font-weight: var(--regular-font-weight);
  font-size: var(--main-text-size);
  color: var(--accent-color, #ff0070);
  line-height: 25px;
  text-transform: uppercase;
}

.text-decor::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  vertical-align: middle;
  margin-inline-start: 10px;
  margin-block-end: 3px;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
}

.decorated-zone::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--decorate-item-color, #ff0070);
  border-right: 1px solid var(--decorate-item-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--decorate-item-color, #ff0070);
  border-left: 1px solid var(--decorate-item-color, #ff0070);
}

.header__title {
  font-family: inherit;
  font-weight: var(--bold-font-weight);
  font-size: var(--title-size);
  color: var(--title-color, #db00ff);
  line-height: 83%;
  text-shadow: var(--text-shadow);
  margin-block-start: 12px;
}

@media (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
  }
}

@media (width >= 1024px) {
  .header__title {
    margin-inline-start: -20px;
    margin-block-start: 160px;
  }
}

.heading {
  font-family: inherit;
  font-weight: var(--bold-font-weight);
  font-size: var(--main-text-size);
  color: var(--accent-color, #ff0070);
  line-height: var(--line-height);
}

@media (width >= 768px) {
  .heading-attention {
    width: 236px;
    height: 70px;
  }
}

.paragraph-decor {
  display: block;
  font-family: inherit;
  font-weight: var(--bold-font-weight);
  font-size: var(--main-text-size);
  color: var(--text-color-secondary, #000028);
  line-height: var(--line-height);
  background-color: var(--accent-color, #ff0070);
  max-height: 117px;
}

@media (width > 375px) {
  .paragraph-decor {
    width: 364px;
    justify-self: end;
  }
}

@media (width >= 1024px) {
  .paragraph-decor {
    width: 491px;
    height: 71px;
    justify-self: end;
  }
}

.title-decor {
  display: block;
  font-family: inherit;
  font-weight: var(--bold-font-weight);
  font-size: var(--main-text-size);
  color: var(--text-color-secondary, #000028);
  line-height: var(--line-height);
  background-color: var(--accent-color, #ff0070);
}

a {
  text-shadow: 2px 2px 0 var(--link-shadow-color, #ff0070);
  text-decoration: none;
}

a:hover {
  border-block-end: 1px solid var(--link-border-hover, rgba(255, 0, 112, 0.4));
}

a:focus-visible {
  outline: 1px solid var(--link-border-focus);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-main-content);
  margin-block-start: var(--margin-main-content);
  margin-block-end: var(--margin-main-content);
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (width >= 1024px) {
  .attention {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content min-content;
    align-items: start;
  }

  .heading-attention {
    grid-column: 1;
    grid-row: 1;
    height: auto;
  }

  .card__attention {
    grid-row: 2;
  }
}

.gallery-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (width >= 768px) {
  .gallery-section {
    gap: 20px;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.text-card {
  font-family: inherit;
  font-weight: var(--regular-font-weight);
  font-size: var(--main-text-size);
  color: var(--text-color-primary);
  line-height: var(--line-height);
}

.subtitle {
  font-weight: var(--regular-font-weight);
}

img {
  width: 100%;
}

picture {
  margin: 0;
  line-height: 0;
}

@media (width >= 768px) {
  .focus {
    grid-template-columns: calc((100vw - 60px) / 3) 2fr;
  }
  .card__focus {
    grid-column: 2;
  }

  .better-way {
    grid-template-columns: calc((100vw - 60px) / 3) 2fr;
  }

  .card__better-way {
    grid-column: 2;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (width >= 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    min-block-size: 780px;
    max-block-size: 780px;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (width >= 1024px) {
  .gallery {
    min-block-size: 1048px;
    max-block-size: 1048px;
  }
}

.card__better-way h2:nth-child(2) {
  margin-block-start: 10px;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  min-block-size: 648px;
}

.footer__title {
  font-family: inherit;
  font-weight: var(--bold-font-weight);
  font-size: var(--title-size);
  color: var(--title-color);
  line-height: 83%;
  text-shadow: var(--text-shadow);
  justify-self: center;
}

@media (width >= 768px) {
  .footer {
    min-block-size: 984px;
  }
}

@media (width >= 1024px) {
  .footer {
    min-block-size: 728px;
  }
}
